SELECT [รายละเอียดออเดอร์].[เลขที่ออเดอร์], [รายละเอียดออเดอร์].[ช่องทางสั่งซื้อ], [รายละเอียดออเดอร์].[วันที่], [รายละเอียดออเดอร์].[พนักงานรับออเดอร์], [รายละเอียดออเดอร์].[ส่วนลดท้ายบิล(%)], [ข้อมูลร้านค้า].[ชื่อร้าน], [ข้อมูลร้านค้า].[เบอร์โทรศัพท์ร้านค้า], [ข้อมูลร้านค้า].[วันหยุด], [ข้อมูลร้านค้า].[ขนส่งที่สะดวก], [ข้อมูลร้านค้า].[ที่อยู่], [สินค้าในแต่ละออเดอร์].[สินค้า], [สินค้าในแต่ละออเดอร์].[จำนวน], [สินค้า].[หน่วยนับ], [สินค้า].[ราคาก่อนแวท], [สินค้า].[ส่วนลดร้านค้าก่อนแวท], [ราคาก่อนแวท]-[ส่วนลดร้านค้าก่อนแวท] AS ราคาหลังหักส่วนลดร้านค้า, [ราคาหลังหักส่วนลดร้านค้า]*[จำนวน] AS ราคารวมหลังหักส่วนลดร้านค้า, [รายละเอียดออเดอร์].[หมายเหตุอื่นๆ], [ข้อมูลร้านค้า].[รหัสร้านค้า], [ข้อมูลร้านค้า].[หมายเหตุเฉพาะร้าน], [รายละเอียดออเดอร์].[เลขที่invoiceของแต่ละเดือน], [รายละเอียดออเดอร์].[เลขที่invoiceของปี], [ข้อมูลร้านค้า].[ชื่อร้านสำหรับออกใบกำกับ], [ข้อมูลร้านค้า].[ที่อยู่สำหรับออกใบกำกับ], [ข้อมูลร้านค้า].[เลขประจำตัวผู้เสียภาษีร้านค้า], [สินค้า].[รหัสสินค้า], [รายละเอียดออเดอร์].[วันที่โอนเงิน], [รายละเอียดออเดอร์].[วันที่inv]
FROM สินค้า INNER JOIN ((ข้อมูลร้านค้า INNER JOIN รายละเอียดออเดอร์ ON [ข้อมูลร้านค้า].[รหัสร้านค้า] = [รายละเอียดออเดอร์].[รหัสร้านค้า]) INNER JOIN สินค้าในแต่ละออเดอร์ ON [รายละเอียดออเดอร์].[เลขที่ออเดอร์] = [สินค้าในแต่ละออเดอร์].[เลขที่ออเดอร์]) ON [สินค้า].[สินค้า] = [สินค้าในแต่ละออเดอร์].[สินค้า]
WHERE ((([รายละเอียดออเดอร์].[เลขที่ออเดอร์])=[Forms]![frm_salesorder_fishingshop]![เลขที่ออเดอร์]));
