PARAMETERS __เลขที่ออเดอร์ Value;
SELECT DISTINCTROW *
FROM (SELECT [รายละเอียดออเดอร์].[เลขที่ออเดอร์], [qry สินค้าในแต่ละออเดอร์ร้านค้า].[สินค้า], [qry สต็อคสินค้า].Expr1 FROM (รายละเอียดออเดอร์ INNER JOIN [qry สินค้าในแต่ละออเดอร์ร้านค้า] ON [รายละเอียดออเดอร์].[เลขที่ออเดอร์] = [qry สินค้าในแต่ละออเดอร์ร้านค้า].[เลขที่ออเดอร์]) INNER JOIN [qry สต็อคสินค้า] ON [qry สินค้าในแต่ละออเดอร์ร้านค้า].[สินค้า] = [qry สต็อคสินค้า].[สินค้า].[สินค้า] ORDER BY [qry สินค้าในแต่ละออเดอร์ร้านค้า].[สินค้า])  AS frm_salesorder_fishingshop
WHERE ([__เลขที่ออเดอร์] = [เลขที่ออเดอร์]);
