PARAMETERS __เลขที่ใบรับเข้า Value;
SELECT DISTINCTROW *
FROM (SELECT [สินค้าในแต่ละใบรับเข้า].[สินค้า], [สินค้าในแต่ละใบรับเข้า].[จำนวนรับเข้า], [สินค้า].[หน่วยนับ], [สินค้าในแต่ละใบรับเข้า].[เลขที่ใบรับเข้า], [สินค้าในแต่ละใบรับเข้า].[หมายเลขกล่อง], [สินค้า].[รหัสสินค้า] FROM สินค้า INNER JOIN สินค้าในแต่ละใบรับเข้า ON [สินค้า].[สินค้า] = [สินค้าในแต่ละใบรับเข้า].[สินค้า])  AS [frm รับเข้าสินค้า]
WHERE ([__เลขที่ใบรับเข้า] = [เลขที่ใบรับเข้า]);
