PARAMETERS __เลขที่ใบเบิก Long;
SELECT DISTINCTROW *
FROM (SELECT [สินค้าในแต่ละใบเบิก].*, [สินค้า].[หน่วยนับ], [สินค้าในแต่ละใบเบิก].[หมายเหตุ] FROM สินค้า INNER JOIN สินค้าในแต่ละใบเบิก ON [สินค้า].[สินค้า] = [สินค้าในแต่ละใบเบิก].[สินค้า])  AS [frm เบิกสินค้า]
WHERE ([__เลขที่ใบเบิก] = [เลขที่ใบเบิก]);
