SELECT [สินค้าในแต่ละออเดอร์].[เลขที่ออเดอร์], [รายละเอียดออเดอร์].[รหัสร้านค้า], [ข้อมูลร้านค้า].[ชื่อร้าน], [สินค้าในแต่ละออเดอร์].[สินค้า], [สินค้าในแต่ละออเดอร์].[จำนวน], [สินค้า].[หน่วยนับ], [รายละเอียดออเดอร์].[วันที่], [สินค้า].ราคา, [สินค้า].[ส่วนลดร้านค้า], [ราคา]-[ส่วนลดร้านค้า] AS ราคาหลังหักส่วนลดร้านค้า, [ราคาหลังหักส่วนลดร้านค้า]*[จำนวน] AS ราคารวมหลังหักส่วนลดร้านค้า, [รายละเอียดออเดอร์].[ส่วนลดท้ายบิล(%)], [ราคารวมหลังหักส่วนลดร้านค้า]*(1-([ส่วนลดท้ายบิล(%)]/100)) AS ราคารวมหลังหักส่วนลดท้ายบิล, [สินค้า].[ราคาก่อนแวท], [สินค้า].[ส่วนลดร้านค้าก่อนแวท], [ราคาก่อนแวท]-[ส่วนลดร้านค้าก่อนแวท] AS ราคาก่อนแวทหลังหักส่วนลดร้านค้า, [ราคาก่อนแวทหลังหักส่วนลดร้านค้า]*[จำนวน] AS ราคารวมก่อนแวทหลังหักส่วนลดร้านค้า, [ราคารวมก่อนแวทหลังหักส่วนลดร้านค้า]*(1-([ส่วนลดท้ายบิล(%)]/100)) AS ราคารวมก่อนแวทหลังหักส่วนลดท้ายบิล, [ราคารวมก่อนแวทหลังหักส่วนลดท้ายบิล]*0.07 AS ภาษีมูลค่าเพิ่ม, [ราคารวมก่อนแวทหลังหักส่วนลดท้ายบิล]+[ภาษีมูลค่าเพิ่ม] AS ราคาสุทธิรวมภาษีมูลค่าเพิ่ม
FROM ข้อมูลร้านค้า INNER JOIN (รายละเอียดออเดอร์ INNER JOIN (สินค้า INNER JOIN สินค้าในแต่ละออเดอร์ ON [สินค้า].[สินค้า] = [สินค้าในแต่ละออเดอร์].[สินค้า]) ON [รายละเอียดออเดอร์].[เลขที่ออเดอร์] = [สินค้าในแต่ละออเดอร์].[เลขที่ออเดอร์]) ON [ข้อมูลร้านค้า].[รหัสร้านค้า] = [รายละเอียดออเดอร์].[รหัสร้านค้า]
ORDER BY [สินค้าในแต่ละออเดอร์].[เลขที่ออเดอร์], [สินค้าในแต่ละออเดอร์].[สินค้า];
