SELECT [รายละเอียดออเดอร์].[เลขที่ออเดอร์], Sum([qry สินค้าในแต่ละออเดอร์ปลีก].ราคารวม) AS SumOfราคารวม, [รายละเอียดออเดอร์].[วันที่], [รายละเอียดออเดอร์].ธนาคาร, [รายละเอียดออเดอร์].[เวลาโอนเงิน], [รายละเอียดออเดอร์].[พนักงานรับออเดอร์], [รายละเอียดออเดอร์].[วันที่โอนเงิน], Sum([qry สินค้าในแต่ละออเดอร์ร้านค้า].[ราคารวมหลังหักส่วนลดท้ายบิล]) AS SumOfราคารวมหลังหักส่วนลดท้ายบิล, [qry สินค้าในแต่ละออเดอร์ร้านค้า].[ชื่อร้าน]
FROM ([qry สินค้าในแต่ละออเดอร์ปลีก] RIGHT JOIN รายละเอียดออเดอร์ ON [qry สินค้าในแต่ละออเดอร์ปลีก].[เลขที่ออเดอร์] = [รายละเอียดออเดอร์].[เลขที่ออเดอร์]) LEFT JOIN [qry สินค้าในแต่ละออเดอร์ร้านค้า] ON [รายละเอียดออเดอร์].[เลขที่ออเดอร์] = [qry สินค้าในแต่ละออเดอร์ร้านค้า].[เลขที่ออเดอร์]
GROUP BY [รายละเอียดออเดอร์].[เลขที่ออเดอร์], [รายละเอียดออเดอร์].[วันที่], [รายละเอียดออเดอร์].ธนาคาร, [รายละเอียดออเดอร์].[เวลาโอนเงิน], [รายละเอียดออเดอร์].[พนักงานรับออเดอร์], [รายละเอียดออเดอร์].[วันที่โอนเงิน], [qry สินค้าในแต่ละออเดอร์ร้านค้า].[ชื่อร้าน]
HAVING ((([รายละเอียดออเดอร์].[เลขที่ออเดอร์]) Between [ใส่เลขที่ออเดอร์ร้านแรก] And [ใส่เลขที่ออเดอร์ร้านสุดท้าย]));
