SELECT [รายละเอียดออเดอร์].[วันที่], [รายละเอียดออเดอร์].[เลขที่ออเดอร์], [รายละเอียดออเดอร์].[รหัสร้านค้า], [ข้อมูลร้านค้า].[ชื่อร้าน], [ข้อมูลร้านค้า].[เบอร์โทรศัพท์ร้านค้า], [ข้อมูลร้านค้า].[วันหยุด], [ข้อมูลร้านค้า].[ขนส่งที่สะดวก], [ข้อมูลร้านค้า].[ที่อยู่], [รายละเอียดออเดอร์].[ช่องทางสั่งซื้อ], [ข้อมูลร้านค้า].[ชื่อเฟส], [ข้อมูลร้านค้า].[ชื่อไลน์], [ข้อมูลร้านค้า].[เบอร์ร้าน], [ข้อมูลสมาชิก].[ชื่อ], [ข้อมูลสมาชิก].[นามสกุล], [ข้อมูลสมาชิก].[ที่อยู่ล่าสุด], [ข้อมูลสมาชิก].[เบอร์โทรศัพท์]
FROM ข้อมูลสมาชิก RIGHT JOIN (ข้อมูลร้านค้า RIGHT JOIN รายละเอียดออเดอร์ ON [ข้อมูลร้านค้า].[รหัสร้านค้า] = [รายละเอียดออเดอร์].[รหัสร้านค้า]) ON [ข้อมูลสมาชิก].[เบอร์โทรศัพท์] = [รายละเอียดออเดอร์].[เบอร์โทรศัพท์]
WHERE ((([รายละเอียดออเดอร์].[เลขที่ออเดอร์]) Between [ใส่เลขที่ออเดอร์ร้านแรก] And [ใส่เลขที่ออเดอร์ร้านสุดท้าย]));
