SELECT [รายละเอียดออเดอร์].[วันที่], [qry สินค้าในแต่ละออเดอร์ปลีก].[เลขที่ออเดอร์], Sum([qry สินค้าในแต่ละออเดอร์ปลีก].ราคารวม) AS SumOfราคารวม
FROM [qry สินค้าในแต่ละออเดอร์ปลีก] INNER JOIN รายละเอียดออเดอร์ ON [qry สินค้าในแต่ละออเดอร์ปลีก].[เลขที่ออเดอร์] = [รายละเอียดออเดอร์].[เลขที่ออเดอร์]
GROUP BY [รายละเอียดออเดอร์].[วันที่], [qry สินค้าในแต่ละออเดอร์ปลีก].[เลขที่ออเดอร์], [รายละเอียดออเดอร์].[วันที่โอนเงิน], [รายละเอียดออเดอร์].ธนาคาร
HAVING ((([รายละเอียดออเดอร์].[วันที่])>[วันที่เริ่มต้น] And ([รายละเอียดออเดอร์].[วันที่])<[วันที่สุดท้าย]));
