SELECT [qry สินค้าในแต่ละออเดอร์ร้านค้า].[วันที่], [qry สินค้าในแต่ละออเดอร์ร้านค้า].[เลขที่ออเดอร์], [qry สินค้าในแต่ละออเดอร์ร้านค้า].[ชื่อร้าน], Sum([qry สินค้าในแต่ละออเดอร์ร้านค้า].[ราคารวมหลังหักส่วนลดร้านค้า]) AS SumOfราคารวมหลังหักส่วนลดร้านค้า, [qry สินค้าในแต่ละออเดอร์ร้านค้า].[ส่วนลดท้ายบิล(%)], Sum([ราคารวมหลังหักส่วนลดร้านค้า]*(1-([ส่วนลดท้ายบิล(%)]/100))) AS Expr1
FROM [qry สินค้าในแต่ละออเดอร์ร้านค้า]
GROUP BY [qry สินค้าในแต่ละออเดอร์ร้านค้า].[วันที่], [qry สินค้าในแต่ละออเดอร์ร้านค้า].[เลขที่ออเดอร์], [qry สินค้าในแต่ละออเดอร์ร้านค้า].[ชื่อร้าน], [qry สินค้าในแต่ละออเดอร์ร้านค้า].[ส่วนลดท้ายบิล(%)]
HAVING ((([qry สินค้าในแต่ละออเดอร์ร้านค้า].[วันที่])>[วันที่เริ่มต้น] And ([qry สินค้าในแต่ละออเดอร์ร้านค้า].[วันที่])<[วันที่สุดท้าย]));
