SELECT [รายละเอียดออเดอร์].[เลขที่ออเดอร์], [ข้อมูลสมาชิก].[ชื่อ], [ข้อมูลสมาชิก].[นามสกุล], [ข้อมูลสมาชิก].[ที่อยู่ล่าสุด], [รายละเอียดออเดอร์].[วันที่], [รายละเอียดออเดอร์].[เบอร์โทรศัพท์], [ข้อมูลสมาชิก].[ชื่อไลน์หรือเฟซ], [รายละเอียดออเดอร์].[ช่องทางสั่งซื้อ]
FROM ข้อมูลสมาชิก INNER JOIN รายละเอียดออเดอร์ ON [ข้อมูลสมาชิก].[เบอร์โทรศัพท์] = [รายละเอียดออเดอร์].[เบอร์โทรศัพท์]
WHERE ((([รายละเอียดออเดอร์].[เลขที่ออเดอร์]) Between [ใส่เลขที่ออเดอร์คนแรกที่จะดู] And [ใส่เลขที่ออเดอร์คนสุดท้ายที่จะดู]));
