SELECT [สินค้าในแต่ละออเดอร์].[เลขที่ออเดอร์], [ข้อมูลสมาชิก].[หมายเลขสมาชิก], [ข้อมูลสมาชิก].[ชื่อ], [สินค้าในแต่ละออเดอร์].[สินค้า], [สินค้าในแต่ละออเดอร์].[จำนวน], [สินค้า].[หน่วยนับ], [สินค้า].ราคา, [ราคา]*[จำนวน] AS ราคารวม, [ราคารวม]/100 AS คะแนน, [รายละเอียดออเดอร์].[วันที่โอนเงิน], [สินค้า].[ราคาก่อนแวท], [ราคาก่อนแวท]*[จำนวน] AS ราคารวมก่อนแวท, [ราคารวมก่อนแวท]*0.07 AS ภาษีมูลค่าเพิ่มปลีก, [ราคารวมก่อนแวท]+[ภาษีมูลค่าเพิ่มปลีก] AS ราคาสุทธิปลีกรวมภาษีมูลค่าเพิ่ม
FROM (ข้อมูลสมาชิก INNER JOIN รายละเอียดออเดอร์ ON [ข้อมูลสมาชิก].[เบอร์โทรศัพท์] = [รายละเอียดออเดอร์].[เบอร์โทรศัพท์]) INNER JOIN (สินค้า INNER JOIN สินค้าในแต่ละออเดอร์ ON [สินค้า].[สินค้า] = [สินค้าในแต่ละออเดอร์].[สินค้า]) ON [รายละเอียดออเดอร์].[เลขที่ออเดอร์] = [สินค้าในแต่ละออเดอร์].[เลขที่ออเดอร์]
ORDER BY [สินค้าในแต่ละออเดอร์].[สินค้า];
