SELECT [หัวใบเบิก].[เลขที่ใบเบิก], [สินค้าในแต่ละใบเบิก].[สินค้า], [สินค้าในแต่ละใบเบิก].[จำนวนเบิก], [สินค้า].[หน่วยนับ], [หัวใบเบิก].[วันที่เบิก], [หัวใบเบิก].[เหตุผลการเบิก], [หัวใบเบิก].[รายละเอียดเพิ่มเติม], [หัวใบเบิก].[พนักงานเบิก], [หัวใบเบิก].[พนักงานตรวจเช็ค], [หัวใบเบิก].[หมายเลขสมาชิกที่เบิก], [หัวใบเบิก].[รหัสร้านค้าที่เบิก]
FROM หัวใบเบิก INNER JOIN (สินค้า INNER JOIN สินค้าในแต่ละใบเบิก ON [สินค้า].[สินค้า] = [สินค้าในแต่ละใบเบิก].[สินค้า]) ON [หัวใบเบิก].[เลขที่ใบเบิก] = [สินค้าในแต่ละใบเบิก].[เลขที่ใบเบิก]
WHERE ((([หัวใบเบิก].[เลขที่ใบเบิก])=[Forms]![frm เบิกสินค้า]![เลขที่ใบเบิก]));
