SELECT [qry สินค้าในแต่ละออเดอร์ปลีก].[หมายเลขสมาชิก], Sum([qry สินค้าในแต่ละออเดอร์ปลีก].คะแนน) AS SumOfคะแนน
FROM [qry สินค้าในแต่ละออเดอร์ปลีก]
GROUP BY [qry สินค้าในแต่ละออเดอร์ปลีก].[หมายเลขสมาชิก]
ORDER BY [qry สินค้าในแต่ละออเดอร์ปลีก].[หมายเลขสมาชิก];
