SELECT [สินค้าในแต่ละใบรับเข้า].[สินค้า], Sum([สินค้าในแต่ละใบรับเข้า].[จำนวนรับเข้า]) AS SumOfจำนวนรับเข้า, [สินค้า].[หน่วยนับ]
FROM สินค้า INNER JOIN สินค้าในแต่ละใบรับเข้า ON [สินค้า].[สินค้า] = [สินค้าในแต่ละใบรับเข้า].[สินค้า]
GROUP BY [สินค้าในแต่ละใบรับเข้า].[สินค้า], [สินค้า].[หน่วยนับ]
ORDER BY [สินค้าในแต่ละใบรับเข้า].[สินค้า], [สินค้า].[หน่วยนับ];
