SELECT [รายละเอียดออเดอร์].[เลขที่ออเดอร์], [qry สินค้าในแต่ละออเดอร์ปลีก].[สินค้า], [qry สต็อคสินค้า].Expr1
FROM [qry สต็อคสินค้า] INNER JOIN (รายละเอียดออเดอร์ INNER JOIN [qry สินค้าในแต่ละออเดอร์ปลีก] ON [รายละเอียดออเดอร์].[เลขที่ออเดอร์] = [qry สินค้าในแต่ละออเดอร์ปลีก].[เลขที่ออเดอร์]) ON [qry สต็อคสินค้า].[สินค้า].[สินค้า] = [qry สินค้าในแต่ละออเดอร์ปลีก].[สินค้า]
ORDER BY [รายละเอียดออเดอร์].[เลขที่ออเดอร์], [qry สินค้าในแต่ละออเดอร์ปลีก].[สินค้า], [qry สต็อคสินค้า].Expr1;
