SELECT [รายละเอียดออเดอร์].[เลขที่ออเดอร์], [รายละเอียดออเดอร์].ธนาคาร, [รายละเอียดออเดอร์].[วันที่โอนเงิน], [รายละเอียดออเดอร์].[เวลาโอนเงิน], [รายละเอียดออเดอร์].[วันที่], [รายละเอียดออเดอร์].[พนักงานรับออเดอร์], [qry สินค้าในแต่ละออเดอร์ร้านค้า].[ส่วนลดท้ายบิล(%)], [qry สินค้าในแต่ละออเดอร์ร้านค้า].[ชื่อร้าน], [รายละเอียดออเดอร์].[เลขที่invoiceของปี], Sum([qry สินค้าในแต่ละออเดอร์ร้านค้า].[ราคารวมก่อนแวทหลังหักส่วนลดท้ายบิล]) AS SumOfราคารวมก่อนแวทหลังหักส่วนลดท้ายบิล, Sum([qry สินค้าในแต่ละออเดอร์ร้านค้า].[ภาษีมูลค่าเพิ่ม]) AS SumOfภาษีมูลค่าเพิ่ม, Sum([qry สินค้าในแต่ละออเดอร์ร้านค้า].[ราคารวมหลังหักส่วนลดท้ายบิล]) AS SumOfราคารวมหลังหักส่วนลดท้ายบิล, Sum([qry สินค้าในแต่ละออเดอร์ร้านค้า].[ราคาสุทธิรวมภาษีมูลค่าเพิ่ม]) AS SumOfราคาสุทธิรวมภาษีมูลค่าเพิ่ม, [qry สินค้าในแต่ละออเดอร์ปลีก].[ชื่อ], Sum([qry สินค้าในแต่ละออเดอร์ปลีก].[ราคารวมก่อนแวท]) AS SumOfราคารวมก่อนแวท, Sum([qry สินค้าในแต่ละออเดอร์ปลีก].[ภาษีมูลค่าเพิ่มปลีก]) AS SumOfภาษีมูลค่าเพิ่มปลีก, Sum([qry สินค้าในแต่ละออเดอร์ปลีก].[ราคาสุทธิปลีกรวมภาษีมูลค่าเพิ่ม]) AS SumOfราคาสุทธิปลีกรวมภาษีมูลค่าเพิ่ม, [ข้อมูลร้านค้า].[เลขประจำตัวผู้เสียภาษีร้านค้า], [ข้อมูลสมาชิก].[เลขประจำตัวผู้เสียภาษีปลีก], [ข้อมูลสมาชิก].[ชื่อออกใบกำกับปลีก], [ข้อมูลสมาชิก].[นามสกุล], [รายละเอียดออเดอร์].[วันที่inv], [ข้อมูลร้านค้า].[ชื่อร้านสำหรับออกใบกำกับ]
FROM ข้อมูลสมาชิก RIGHT JOIN (ข้อมูลร้านค้า RIGHT JOIN ((รายละเอียดออเดอร์ LEFT JOIN [qry สินค้าในแต่ละออเดอร์ร้านค้า] ON [รายละเอียดออเดอร์].[เลขที่ออเดอร์] = [qry สินค้าในแต่ละออเดอร์ร้านค้า].[เลขที่ออเดอร์]) LEFT JOIN [qry สินค้าในแต่ละออเดอร์ปลีก] ON [รายละเอียดออเดอร์].[เลขที่ออเดอร์] = [qry สินค้าในแต่ละออเดอร์ปลีก].[เลขที่ออเดอร์]) ON [ข้อมูลร้านค้า].[รหัสร้านค้า] = [รายละเอียดออเดอร์].[รหัสร้านค้า]) ON [ข้อมูลสมาชิก].[เบอร์โทรศัพท์] = [รายละเอียดออเดอร์].[เบอร์โทรศัพท์]
GROUP BY [รายละเอียดออเดอร์].[เลขที่ออเดอร์], [รายละเอียดออเดอร์].ธนาคาร, [รายละเอียดออเดอร์].[วันที่โอนเงิน], [รายละเอียดออเดอร์].[เวลาโอนเงิน], [รายละเอียดออเดอร์].[วันที่], [รายละเอียดออเดอร์].[พนักงานรับออเดอร์], [qry สินค้าในแต่ละออเดอร์ร้านค้า].[ส่วนลดท้ายบิล(%)], [qry สินค้าในแต่ละออเดอร์ร้านค้า].[ชื่อร้าน], [รายละเอียดออเดอร์].[เลขที่invoiceของปี], [qry สินค้าในแต่ละออเดอร์ปลีก].[ชื่อ], [ข้อมูลร้านค้า].[เลขประจำตัวผู้เสียภาษีร้านค้า], [ข้อมูลสมาชิก].[เลขประจำตัวผู้เสียภาษีปลีก], [ข้อมูลสมาชิก].[ชื่อออกใบกำกับปลีก], [ข้อมูลสมาชิก].[นามสกุล], [รายละเอียดออเดอร์].[วันที่inv], [ข้อมูลร้านค้า].[ชื่อร้านสำหรับออกใบกำกับ]
HAVING ((([รายละเอียดออเดอร์].ธนาคาร)="กสิกร" Or ([รายละเอียดออเดอร์].ธนาคาร)="ส่งของให้ก่อน") AND (([รายละเอียดออเดอร์].[วันที่]) Between [วันที่เปิดบิลเริ่มต้น] And [วันที่เปิดบิลสุดท้าย]));
