SELECT [ข้อมูลร้านค้า].[รหัสร้านค้า], [ข้อมูลร้านค้า].[ชื่อร้าน], Sum([qry สินค้าในแต่ละออเดอร์ร้านค้า].[ราคาสุทธิรวมภาษีมูลค่าเพิ่ม]) AS SumOfราคาสุทธิรวมภาษีมูลค่าเพิ่ม
FROM (ข้อมูลร้านค้า INNER JOIN รายละเอียดออเดอร์ ON [ข้อมูลร้านค้า].[รหัสร้านค้า] = [รายละเอียดออเดอร์].[รหัสร้านค้า]) INNER JOIN [qry สินค้าในแต่ละออเดอร์ร้านค้า] ON [รายละเอียดออเดอร์].[เลขที่ออเดอร์] = [qry สินค้าในแต่ละออเดอร์ร้านค้า].[เลขที่ออเดอร์]
GROUP BY [ข้อมูลร้านค้า].[รหัสร้านค้า], [ข้อมูลร้านค้า].[ชื่อร้าน];
