SELECT [รายละเอียดออเดอร์].[เลขที่invoiceของปี], [รายละเอียดออเดอร์].[วันที่โอนเงิน], [รายละเอียดออเดอร์].[เวลาโอนเงิน]
FROM รายละเอียดออเดอร์
WHERE ((([รายละเอียดออเดอร์].[เลขที่invoiceของปี]) Between [invเริ่มต้น] And [invสุดท้าย]) AND (([รายละเอียดออเดอร์].ธนาคาร)="กสิกร"))
ORDER BY [รายละเอียดออเดอร์].[เลขที่invoiceของปี];
