SELECT [รายละเอียดออเดอร์].[เลขที่ออเดอร์], [ข้อมูลสมาชิก].[ชื่อ], [ข้อมูลสมาชิก].[นามสกุล], [รายละเอียดออเดอร์].[เบอร์โทรศัพท์], [ข้อมูลสมาชิก].[หมายเลขสมาชิก], [รายละเอียดออเดอร์].[วันที่], [รายละเอียดออเดอร์].ธนาคาร, [รายละเอียดออเดอร์].[เวลาโอนเงิน], [รายละเอียดออเดอร์].[ช่องทางสั่งซื้อ], [รายละเอียดออเดอร์].[พนักงานรับออเดอร์], [สินค้าในแต่ละออเดอร์].[สินค้า], [สินค้าในแต่ละออเดอร์].[จำนวน], [สินค้า].[หน่วยนับ], [สินค้า].ราคา, [ราคา]*[จำนวน] AS ราคารวม, [สินค้า].[ราคาก่อนแวท], [ราคาก่อนแวท]*[จำนวน] AS ราคารวมก่อนแวท, [รายละเอียดออเดอร์].[หมายเหตุอื่นๆ], [ข้อมูลสมาชิก].[ที่อยู่ล่าสุด], [ข้อมูลสมาชิก].[เลขประจำตัวผู้เสียภาษีปลีก], [ข้อมูลสมาชิก].[ชื่อออกใบกำกับปลีก], [รายละเอียดออเดอร์].[วันที่โอนเงิน], [รายละเอียดออเดอร์].[เลขที่invoiceของปี]
FROM ข้อมูลสมาชิก INNER JOIN (สินค้า INNER JOIN (รายละเอียดออเดอร์ INNER JOIN สินค้าในแต่ละออเดอร์ ON [รายละเอียดออเดอร์].[เลขที่ออเดอร์] = [สินค้าในแต่ละออเดอร์].[เลขที่ออเดอร์]) ON [สินค้า].[สินค้า] = [สินค้าในแต่ละออเดอร์].[สินค้า]) ON [ข้อมูลสมาชิก].[เบอร์โทรศัพท์] = [รายละเอียดออเดอร์].[เบอร์โทรศัพท์]
WHERE ((([รายละเอียดออเดอร์].[เลขที่ออเดอร์])=[Forms]![frm_salesorder_retail]![เลขที่ออเดอร์]))
ORDER BY [สินค้าในแต่ละออเดอร์].[สินค้า];
