SELECT [สินค้าในแต่ละใบเบิก].[สินค้า], Sum([สินค้าในแต่ละใบเบิก].[จำนวนเบิก]) AS SumOfจำนวนเบิก, [สินค้า].[หน่วยนับ]
FROM สินค้า INNER JOIN สินค้าในแต่ละใบเบิก ON [สินค้า].[สินค้า] = [สินค้าในแต่ละใบเบิก].[สินค้า]
GROUP BY [สินค้าในแต่ละใบเบิก].[สินค้า], [สินค้า].[หน่วยนับ]
ORDER BY [สินค้าในแต่ละใบเบิก].[สินค้า], [สินค้า].[หน่วยนับ];
