SELECT [สินค้า].[รหัสสินค้า], [สินค้า].[สินค้า], [สินค้า].[หน่วยนับ], Nz([SumOfจำนวนรับเข้า],0) AS Expr2, Nz([SumOfจำนวน],0) AS Expr3, Nz([SumOfจำนวนเบิก],0) AS Expr4, [Expr2]-[Expr3]-[Expr4] AS Expr1
FROM (([qry จำนวนที่ขายของสินค้าแต่ละตัว] RIGHT JOIN สินค้า ON [qry จำนวนที่ขายของสินค้าแต่ละตัว].[สินค้า] = [สินค้า].[สินค้า]) LEFT JOIN [qry จำนวนเบิกรวม ของสินค้าทุกตัว] ON [สินค้า].[สินค้า] = [qry จำนวนเบิกรวม ของสินค้าทุกตัว].[สินค้า]) LEFT JOIN [qry จำนวนรับเข้ารวม ของสินค้าทุกตัว] ON [สินค้า].[สินค้า] = [qry จำนวนรับเข้ารวม ของสินค้าทุกตัว].[สินค้า];
