SELECT [qry คะแนนรวมลูกค้าแต่ละคน].[หมายเลขสมาชิก], [qry คะแนนรวมลูกค้าแต่ละคน].SumOfคะแนน, [ข้อมูลสมาชิก].[คะแนนคีย์มือเพิ่มให้], [ข้อมูลสมาชิก].[คะแนนที่ใช้ครั้งที่1], [ข้อมูลสมาชิก].[คะแนนที่ใช้ครั้งที่2], [ข้อมูลสมาชิก].[คะแนนที่ใช้ครั้งที่3], [Sumofคะแนน]+[คะแนนคีย์มือเพิ่มให้]-[คะแนนที่ใช้ครั้งที่1]-[คะแนนที่ใช้ครั้งที่2]-[คะแนนที่ใช้ครั้งที่3] AS Expr1
FROM [qry คะแนนรวมลูกค้าแต่ละคน] INNER JOIN ข้อมูลสมาชิก ON [qry คะแนนรวมลูกค้าแต่ละคน].[หมายเลขสมาชิก] = [ข้อมูลสมาชิก].[หมายเลขสมาชิก]
WHERE ((([qry คะแนนรวมลูกค้าแต่ละคน].[หมายเลขสมาชิก])=[Forms]![frm_salesorder_retail]![หมายเลขสมาชิก]));
