SELECT [หัวใบรับเข้า].[เลขที่ใบรับเข้า], [หัวใบรับเข้า].[วันที่รับเข้า], [หัวใบรับเข้า].[ผู้ผลิต หรือ พนักงานแพ็ค], [หัวใบรับเข้า].[พนักงานตรวจเช็ค], [หัวใบรับเข้า].[พนักงานบันทึกข้อมูล], [หัวใบรับเข้า].[รายละเอียดเพิ่มเติม], [สินค้าในแต่ละใบรับเข้า].[สินค้า], [สินค้าในแต่ละใบรับเข้า].[จำนวนรับเข้า], [สินค้า].[หน่วยนับ]
FROM หัวใบรับเข้า INNER JOIN (สินค้า INNER JOIN สินค้าในแต่ละใบรับเข้า ON [สินค้า].[สินค้า] = [สินค้าในแต่ละใบรับเข้า].[สินค้า]) ON [หัวใบรับเข้า].[เลขที่ใบรับเข้า] = [สินค้าในแต่ละใบรับเข้า].[เลขที่ใบรับเข้า]
WHERE ((([หัวใบรับเข้า].[เลขที่ใบรับเข้า])=[Forms]![frm รับเข้าสินค้า]![เลขที่ใบรับเข้า]));
