SELECT [รายละเอียดออเดอร์].[เลขที่ออเดอร์], [รายละเอียดออเดอร์].[เลขที่invoiceของปี], [ข้อมูลร้านค้า].[ชื่อร้าน], [รายละเอียดออเดอร์].[วันที่], [ข้อมูลร้านค้า].[ชื่อเฟส], [ข้อมูลร้านค้า].[ชื่อไลน์], Sum([qry สินค้าในแต่ละออเดอร์ร้านค้า].[ราคารวมหลังหักส่วนลดท้ายบิล]) AS SumOfราคารวมหลังหักส่วนลดท้ายบิล, [ข้อมูลร้านค้า].[หมายเหตุเฉพาะร้าน]
FROM (ข้อมูลร้านค้า INNER JOIN รายละเอียดออเดอร์ ON [ข้อมูลร้านค้า].[รหัสร้านค้า] = [รายละเอียดออเดอร์].[รหัสร้านค้า]) INNER JOIN [qry สินค้าในแต่ละออเดอร์ร้านค้า] ON ([ข้อมูลร้านค้า].[รหัสร้านค้า] = [qry สินค้าในแต่ละออเดอร์ร้านค้า].[รหัสร้านค้า]) AND ([รายละเอียดออเดอร์].[เลขที่ออเดอร์] = [qry สินค้าในแต่ละออเดอร์ร้านค้า].[เลขที่ออเดอร์])
GROUP BY [รายละเอียดออเดอร์].[เลขที่ออเดอร์], [รายละเอียดออเดอร์].[เลขที่invoiceของปี], [ข้อมูลร้านค้า].[ชื่อร้าน], [รายละเอียดออเดอร์].[วันที่], [ข้อมูลร้านค้า].[ชื่อเฟส], [ข้อมูลร้านค้า].[ชื่อไลน์], [ข้อมูลร้านค้า].[หมายเหตุเฉพาะร้าน], [รายละเอียดออเดอร์].ธนาคาร, [รายละเอียดออเดอร์].[วันที่โอนเงิน], [รายละเอียดออเดอร์].[เวลาโอนเงิน]
HAVING ((([รายละเอียดออเดอร์].ธนาคาร)="ส่งของให้ก่อน"));
