SELECT [รายละเอียดออเดอร์].[เลขที่ออเดอร์], [รายละเอียดออเดอร์].[เลขที่invoiceของปี], [ข้อมูลร้านค้า].[ชื่อร้าน], [รายละเอียดออเดอร์].[วันที่], [ข้อมูลร้านค้า].[ชื่อเฟส], [ข้อมูลร้านค้า].[ชื่อไลน์], Sum([qry สินค้าในแต่ละออเดอร์ร้านค้า].[ราคาสุทธิรวมภาษีมูลค่าเพิ่ม]) AS SumOfราคาสุทธิรวมภาษีมูลค่าเพิ่ม, [ข้อมูลร้านค้า].[รหัสร้านค้า], [ข้อมูลร้านค้า].[เอาบิลอะไร]
FROM (ข้อมูลร้านค้า INNER JOIN รายละเอียดออเดอร์ ON [ข้อมูลร้านค้า].[รหัสร้านค้า] = [รายละเอียดออเดอร์].[รหัสร้านค้า]) INNER JOIN [qry สินค้าในแต่ละออเดอร์ร้านค้า] ON [รายละเอียดออเดอร์].[เลขที่ออเดอร์] = [qry สินค้าในแต่ละออเดอร์ร้านค้า].[เลขที่ออเดอร์]
GROUP BY [รายละเอียดออเดอร์].[เลขที่ออเดอร์], [รายละเอียดออเดอร์].[เลขที่invoiceของปี], [ข้อมูลร้านค้า].[ชื่อร้าน], [รายละเอียดออเดอร์].[วันที่], [ข้อมูลร้านค้า].[ชื่อเฟส], [ข้อมูลร้านค้า].[ชื่อไลน์], [ข้อมูลร้านค้า].[รหัสร้านค้า], [ข้อมูลร้านค้า].[เอาบิลอะไร], [รายละเอียดออเดอร์].ธนาคาร
HAVING ((([รายละเอียดออเดอร์].ธนาคาร)="รอโอน"));
