SELECT [สินค้าในแต่ละออเดอร์].[สินค้า], Sum([สินค้าในแต่ละออเดอร์].[จำนวน]) AS SumOfจำนวน, [สินค้า].[หน่วยนับ]
FROM รายละเอียดออเดอร์ INNER JOIN (สินค้า INNER JOIN สินค้าในแต่ละออเดอร์ ON [สินค้า].[สินค้า] = [สินค้าในแต่ละออเดอร์].[สินค้า]) ON [รายละเอียดออเดอร์].[เลขที่ออเดอร์] = [สินค้าในแต่ละออเดอร์].[เลขที่ออเดอร์]
GROUP BY [สินค้าในแต่ละออเดอร์].[สินค้า], [สินค้า].[หน่วยนับ]
HAVING (((Sum([รายละเอียดออเดอร์].[วันที่]))>=DateAdd("m",-3,Date())))
ORDER BY [สินค้าในแต่ละออเดอร์].[สินค้า], Sum([สินค้าในแต่ละออเดอร์].[จำนวน]) DESC;
