SELECT [รายละเอียดออเดอร์].[เลขที่invoiceของปี], [รายละเอียดออเดอร์].[เลขที่ออเดอร์], [ข้อมูลร้านค้า].[ชื่อร้าน], [รายละเอียดออเดอร์].ธนาคาร, [รายละเอียดออเดอร์].[วันที่โอนเงิน], [รายละเอียดออเดอร์].[เวลาโอนเงิน]
FROM ข้อมูลร้านค้า INNER JOIN รายละเอียดออเดอร์ ON [ข้อมูลร้านค้า].[รหัสร้านค้า] = [รายละเอียดออเดอร์].[รหัสร้านค้า]
WHERE ((([รายละเอียดออเดอร์].ธนาคาร)="ส่งของให้ก่อน"));
