SELECT [รายละเอียดออเดอร์].[เลขที่ออเดอร์], [รายละเอียดออเดอร์].[เลขที่invoiceของแต่ละเดือน], [รายละเอียดออเดอร์].[เลขที่invoiceของปี], [รายละเอียดออเดอร์].ธนาคาร, [รายละเอียดออเดอร์].[วันที่], [รายละเอียดออเดอร์].[เวลาโอนเงิน], [รายละเอียดออเดอร์].[วันที่โอนเงิน], [ข้อมูลร้านค้า].[ชื่อร้าน], [ข้อมูลสมาชิก].[ชื่อ], [รายละเอียดออเดอร์].[วันที่inv]
FROM ข้อมูลสมาชิก RIGHT JOIN (ข้อมูลร้านค้า RIGHT JOIN รายละเอียดออเดอร์ ON [ข้อมูลร้านค้า].[รหัสร้านค้า] = [รายละเอียดออเดอร์].[รหัสร้านค้า]) ON [ข้อมูลสมาชิก].[เบอร์โทรศัพท์] = [รายละเอียดออเดอร์].[เบอร์โทรศัพท์]
WHERE ((([รายละเอียดออเดอร์].ธนาคาร)="กสิกร" Or ([รายละเอียดออเดอร์].ธนาคาร)="ส่งของให้ก่อน" Or ([รายละเอียดออเดอร์].ธนาคาร)="รอโอน") AND (([รายละเอียดออเดอร์].[วันที่]) Between [วันที่ต้นเดือน] And [วันที่ท้ายเดือน]));
