SELECT [รายละเอียดออเดอร์].[เลขที่ออเดอร์], [qry สินค้าในแต่ละออเดอร์ร้านค้า].[ชื่อร้าน], Sum([qry สินค้าในแต่ละออเดอร์ร้านค้า].[ราคารวมหลังหักส่วนลดท้ายบิล]) AS SumOfราคารวมหลังหักส่วนลดท้ายบิล, [รายละเอียดออเดอร์].ธนาคาร, [รายละเอียดออเดอร์].[เวลาโอนเงิน], [รายละเอียดออเดอร์].[วันที่โอนเงิน], [รายละเอียดออเดอร์].[เลขที่invoiceของปี], [ข้อมูลร้านค้า].[ช่องทางติดต่อที่สะดวก], [ข้อมูลร้านค้า].[ชื่อเฟส], [ข้อมูลร้านค้า].[ชื่อไลน์]
FROM (ข้อมูลร้านค้า INNER JOIN รายละเอียดออเดอร์ ON [ข้อมูลร้านค้า].[รหัสร้านค้า] = [รายละเอียดออเดอร์].[รหัสร้านค้า]) INNER JOIN [qry สินค้าในแต่ละออเดอร์ร้านค้า] ON ([ข้อมูลร้านค้า].[รหัสร้านค้า] = [qry สินค้าในแต่ละออเดอร์ร้านค้า].[รหัสร้านค้า]) AND ([รายละเอียดออเดอร์].[เลขที่ออเดอร์] = [qry สินค้าในแต่ละออเดอร์ร้านค้า].[เลขที่ออเดอร์])
GROUP BY [รายละเอียดออเดอร์].[เลขที่ออเดอร์], [qry สินค้าในแต่ละออเดอร์ร้านค้า].[ชื่อร้าน], [รายละเอียดออเดอร์].ธนาคาร, [รายละเอียดออเดอร์].[เวลาโอนเงิน], [รายละเอียดออเดอร์].[วันที่โอนเงิน], [รายละเอียดออเดอร์].[เลขที่invoiceของปี], [ข้อมูลร้านค้า].[ช่องทางติดต่อที่สะดวก], [ข้อมูลร้านค้า].[ชื่อเฟส], [ข้อมูลร้านค้า].[ชื่อไลน์];
