SELECT [รายละเอียดออเดอร์].[วันที่], [รายละเอียดออเดอร์].[วันที่โอนเงิน], [รายละเอียดออเดอร์].[วันที่inv], [รายละเอียดออเดอร์].[เลขที่invoiceของปี]
FROM รายละเอียดออเดอร์
WHERE ((([รายละเอียดออเดอร์].[เลขที่invoiceของปี]) Between [invเริ่มต้น] And [invสุดท้าย]));
