SELECT [สินค้า].[รหัสสินค้า], [สินค้า].[สินค้า], [หัวใบรับเข้า].[วันที่รับเข้า] as วันที่ , [สินค้าในแต่ละใบรับเข้า].[เลขที่ใบรับเข้า] As เลขที่ใบสำคัญ , [สินค้าในแต่ละใบรับเข้า].[จำนวนรับเข้า] , IIf(False, 0, Null) As จำนวนเบิก , IIf(False, 0, Null) As จำนวนขาย
FROM สินค้า INNER JOIN (หัวใบรับเข้า INNER JOIN สินค้าในแต่ละใบรับเข้า ON [หัวใบรับเข้า].[เลขที่ใบรับเข้า] = [สินค้าในแต่ละใบรับเข้า].[เลขที่ใบรับเข้า]) ON [สินค้า].[สินค้า] = [สินค้าในแต่ละใบรับเข้า].[สินค้า]

UNION ALL

SELECT [สินค้า].[รหัสสินค้า], [สินค้าในแต่ละใบเบิก].[สินค้า],[หัวใบเบิก].[วันที่เบิก], [สินค้าในแต่ละใบเบิก].[เลขที่ใบเบิก] , IIf(False, 0, Null) As จำนวนรับเข้า 
 ,[สินค้าในแต่ละใบเบิก].[จำนวนเบิก]  , IIf(False, 0, Null) As จำนวนขาย
FROM สินค้า INNER JOIN (หัวใบเบิก INNER JOIN สินค้าในแต่ละใบเบิก ON [หัวใบเบิก].[เลขที่ใบเบิก] = [สินค้าในแต่ละใบเบิก].[เลขที่ใบเบิก]) ON [สินค้า].[สินค้า] = [สินค้าในแต่ละใบเบิก].[สินค้า]

UNION ALL SELECT [สินค้า].[รหัสสินค้า], [สินค้า].[สินค้า], [รายละเอียดออเดอร์].[วันที่], [สินค้าในแต่ละออเดอร์].[เลขที่ออเดอร์], IIf(False, 0, Null) As จำนวนรับเข้า ,IIf(False, 0, Null) As จำนวนเบิก, [สินค้าในแต่ละออเดอร์].[จำนวน] As จำนวนขาย
FROM รายละเอียดออเดอร์ INNER JOIN (สินค้า INNER JOIN สินค้าในแต่ละออเดอร์ ON [สินค้า].[สินค้า] = [สินค้าในแต่ละออเดอร์].[สินค้า]) ON [รายละเอียดออเดอร์].[เลขที่ออเดอร์] = [สินค้าในแต่ละออเดอร์].[เลขที่ออเดอร์]
ORDER BY [วันที่];
