SELECT [สินค้าในแต่ละออเดอร์].[สินค้า], [สินค้า].[หน่วยนับ], [รายละเอียดออเดอร์].[วันที่], Sum([สินค้าในแต่ละออเดอร์].[จำนวน]) AS SumOfจำนวน, [ข้อมูลร้านค้า].[ชื่อร้าน]
FROM ข้อมูลร้านค้า INNER JOIN (รายละเอียดออเดอร์ INNER JOIN (สินค้า INNER JOIN สินค้าในแต่ละออเดอร์ ON [สินค้า].[สินค้า] = [สินค้าในแต่ละออเดอร์].[สินค้า]) ON [รายละเอียดออเดอร์].[เลขที่ออเดอร์] = [สินค้าในแต่ละออเดอร์].[เลขที่ออเดอร์]) ON [ข้อมูลร้านค้า].[รหัสร้านค้า] = [รายละเอียดออเดอร์].[รหัสร้านค้า]
GROUP BY [สินค้าในแต่ละออเดอร์].[สินค้า], [สินค้า].[หน่วยนับ], [รายละเอียดออเดอร์].[วันที่], [ข้อมูลร้านค้า].[ชื่อร้าน]
HAVING ((([รายละเอียดออเดอร์].[วันที่]) Between [วันที่เริ่ม] And [วันที่จบ]));
