SELECT [สินค้าในแต่ละออเดอร์].[สินค้า], Sum([สินค้าในแต่ละออเดอร์].[จำนวน]) AS SumOfจำนวน
FROM สินค้าในแต่ละออเดอร์
WHERE ((([สินค้าในแต่ละออเดอร์].[เลขที่ออเดอร์]) Between [เลขที่ออเดอร์แรก] And [เลขที่ออเดอร์สุดท้าย]))
GROUP BY [สินค้าในแต่ละออเดอร์].[สินค้า];
